# Gradle / builds
.gradle/
**/build/
.cxx/
.externalNativeBuild/
outputs/

# Android local
local.properties
captures/

# IDE
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Kotlin/Compose
.kotlinc/
.ksp/

# OS
.DS_Store
Thumbs.db
